.sidenav{
	text-align:center;
	width: 100%;
    background-color: #eee;
    height: 40px;
}
.sidenav a{
font-family: OpenSans-Regular;
    font-size: 19px;
    color: #212121;
    display:inline;
	padding:22px 16px;
	text-decoration:none;
}
.sidenav a:hover{
	text-decoration:underline;
	color:blue;
}